
.anim { transition: all 1s ease; opacity: 0.01; transform: scale(0.5, 0.5); }
.anim-r { transition: all 1s ease; opacity: 0.01; transform: rotate(0deg); margin-left: 100%; }
.block_960 { max-width: 960px; margin-left: auto; margin-right: auto; overflow: hidden; }
.center { text-align: center; }
.tour_mark { position: absolute; background: url(../img/tour_mark.png) no-repeat; color: #fff; font-size: 14px; width: 96px; text-align: center; padding-top: 27px; padding-bottom: 21px; margin-left: 120px; margin-top: -20px; }
.menu_wrap { background: #0061ec; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4); width: 100%; position: fixed; z-index: 1; }
.menu {margin-right: 8%;margin-left: 8%; }
.menu > ul { float: right; }
.menu > ul > li { display: inline-block; }
.menu > ul > li > a { display: block; padding: 10px 10px; color: #FFFFFF;font-size: 15px; }
.header_wrap { padding-top: 40px; background: url(../img/header_bg.jpg) no-repeat center 30px; padding-bottom: 100px; }
.highlight-orange { text-transform: uppercase; color: #ffb100; font-size: 35px; }
.logo_wrap { float: left; overflow: hidden; width: 380px; }
.logo_wrap > img { display: block; float: left; }
.logo_text { float: left; padding-left: 10px; }
.discript { font-size: 16px; letter-spacing: 1.3px; }
.company_name { font-size: 33px; line-height: 1; }
.phone_wrap { float: right; text-align: right; padding-top: 20px; }
.phone_wrap a, .phone_wrap a[x-apple-data-detectors], .phone_number_leed a, .phone_number_leed a[x-apple-data-detectors] { color: inherit !important; text-decoration: none !important; font-size: inherit !important; font-family: inherit !important; font-weight: inherit !important; line-height: inherit !important; }
.phone_number { font-size: 24px; }
.adres { font-size: 14px; font-weight: 300; }
.heading { color: #0052da; text-align: center; padding: 100px 0 20px 0; }
.heading_top {    background: #fff none repeat scroll 0 0;
    border-radius: 14px;
    color: #296be5;
    display: inline;
    font-size: 30px;
    margin-left: 65px;
    padding: 0 15px 7px;
    text-transform: uppercase; }
.heading_block { font-weight: 700; font-size: 36px; }
/*.header_left { float: left; position: relative; top: 100px; }*/
.header_left {  top: -95px; left: 70px; display: inline-block; text-align: right; }
/*.header_arrow { margin-left: 540px; }*/
.header_right { float: right; }
.header_wrap iframe { display: inline-block; }
.fancybox-inner .form_style { border: none; }
.form_style { width: 260px; padding: 20px; text-align: center; background: #fff; border-radius: 4px; border: 4px solid #ffb100; }
.big30 { font-size: 30px; }
.little15 { font-size: 15px; }
.input_style_1 { width: 240px; height: 40px;  -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; background-color: #fff; border: solid 1px #aaa; padding: 0px 10px; font-family: exo; font-size: 16px; color: #474747; }
.fphone, .fmail {margin: 4px 0px; }
.yellow_style { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; background-color: #ffcc03; -webkit-box-shadow: 0 4px 5px rgba(129, 82, 63, .42), inset 0 0 0 1px #ffee31; -moz-box-shadow: 0 4px 5px rgba(129, 82, 63, .42), inset 0 0 0 1px #ffee31; box-shadow: 0 4px 5px rgba(129, 82, 63, .42), inset 0 0 0 1px #ffee31; border: solid 1px #fc930b; background-image: -webkit-linear-gradient(bottom, #ffa500, rgba(255, 165, 0, 0)); background-image: -moz-linear-gradient(bottom, #ffa500, rgba(255, 165, 0, 0)); background-image: -o-linear-gradient(bottom, #ffa500, rgba(255, 165, 0, 0)); background-image: linear-gradient(to top, #ffa500, rgba(255, 165, 0, 0)); color: #483800; text-shadow: 0 1px rgba(255, 255, 255, .75); font-weight: 700; font-family: exo; }
.size_1 { font-size: 25px; width: 260px; height: 60px; margin-top: 5px; cursor: pointer; }
.blue_pattern { background: url(../img/blue_bg.jpg) no-repeat center center; }



.margintop10 { margin-top: 10px; }
.margintop20 { margin-top: 20px; }
.margintop30 { margin-top: 30px; }
.margintop90 { margin-top: 90px; }

.leddform_heading { font-size: 40px; font-weight: 700; }
.leddform_desc { font-size: 16px; padding-top: 20px; font-weight: 300; }
.big27 { font-size: 27px; }
.little14 { font-size: 14px; }
.tour_name { font-size: 18px;
    font-weight: 700;
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase; }
.tour_price { font-size: 12px;
    font-weight: 700;
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase;
} 

.size_2 { font-size: 18px; width: 100%; height: 40px; cursor: pointer; margin-top: 10px; }
.review .size_2 { width: 200px; }
.why_wrap { background: url(../img/why_we_bg.jpg) no-repeat center top; background-size: cover; }
.why { color: #000; padding-top: 40px; margin-bottom: 20px; }
.why_punkt { overflow: hidden;}

/*.why_punkt p {
	float: left;
	padding-left: 10px;
	padding-top: 20px;
	font-size: 20px;
	font-weight: bold;
}*/
.why_punkt p {  font-size: 20px;
    font-weight: bold;
}
.podbor { padding-bottom: 40px; }
.podbor_over { width: 460px; background: #ecf5fe; border-radius: 4px; border: 1px solid #d9dfe4; margin: 10px auto; }
.pod_line { overflow: hidden; padding: 20px; border-bottom: 1px solid #d9dfe4; border-top: 1px solid #fff; }
.podbor_over .pod_line:first-child { border-top: none; }
.podbor_over .pod_line:last-child { border-bottom: none; }
.pod_step { height: 25px; background: url(../img/step_number_bg.png) no-repeat; text-align: center; width: 40px; color: #fff; font-weight: 700; font-size: 18px; padding: 9px 0px; float: left; margin-right: 20px; }
.pod_znach { overflow: hidden; float: left; }
.pod_select_label { font-weight: 700; padding-bottom: 5px; padding-bottom: 10px; padding-top: 5px; }
.inputs { overflow: hidden; }
.select_long_wrap { width: 220px; border: 1px solid #bdc4cb; border-radius: 4px; overflow: hidden; }
.select { height: 40px; border: none; font-family: exo; font-size: 16px; color: #474747; padding-left: 10px; background-repeat: no-repeat; background-position: 180px; }
.select_long { width: 240px; }
.date_long_wrap { border-radius: 4px; }
.date_style { background-image: url(../img/date_select_ico.png); }
.select_small_wrap { border: 1px solid #BDC4CB; border-radius: 4px; overflow: hidden; width: 90px; display: inline-block; float: left; }
.select_small { background-repeat: no-repeat; background-position: 50px; width: 120px; display: inline; }
.def_input { display: block; height: 20px; float: left; padding-top: 10px; padding-left: 10px; padding-right: 10px; }
.last_def_input { padding-left: 0px; }
.size_3 { width: 300px; height: 60px; font-size: 25px; cursor: pointer; }
.align-centr { text-align: center; }
.timer_js { border: 1px solid #65a2f7; border-radius: 4px; padding: 10px; width: 390px; margin-top: 20px; }
.timer_label { font-size: 20px; padding-bottom: 10px; }
.big23 { font-size: 23px; }
.margintop50 { margin-top: 10px; }
.arrow_b_2 { position: absolute; margin-left: 540px; margin-top: -140px; }
.reviewes_list { padding-top: 40px; }
.review { border: 2px solid #dddddd; border-radius: 5px; padding: 20px; margin: 10px 0px 40px 0px; }
.rew_ico_st { position: absolute; display: block; margin-left: 190px; margin-top: -45px; }
.rev_text { overflow: hidden; }
.rev_heading { font-size: 24px; font-weight: 700; padding-top: 10px; }
.rev_user_text { padding-top: 10px; }
.user_info { overflow: hidden; }
.user_info > img { display: block; border-radius: 100px; float: right; margin-top: -40px; }
.user_name { float: left; font-size: 18px; font-weight: 700; border-bottom: 1px solid #c6c6c6; padding-bottom: 10px; width: 90%; margin-top: 30px; }
.our_partners_wrap {
    padding-bottom: 40px;
    max-width: 960px;
    margin: 0 auto;
}
.phone_number_leed { font-size: 33px; font-weight: 700; color: #fff; text-align: center; padding-bottom: 10px; margin-top: 0px; }
.arrow_b_3 { margin-left: 540px; position: relative; top: -30px; }
.where_wrap { height: 460px; }
.where > img { margin-left: 240px; margin-top: 30px; float: left; }
.footer { font-size: 14px; padding: 20px 0px; }
.footer_left { float: left; }
.footer_left  a { color: #67a4da; }
.footer_center { text-align: center; }
.footer_center  a { color: #67a4da; }
.footer_rigth { float: right; }
.footer_rigth > p > a { color: #67a4da; }
.scroll-link { position: absolute; margin-top: -35px; }
.ierror { border: 1px solid #F00; color: #F00; }

/* modal
-----------------------------------------------------------------------------*/
.modal { position: fixed; top: 10%; left: 50%; width: 310px; margin-left: -155px; z-index: 9999; display: none; }
.modal-form.form-block { float: none; }
.modal-success { background: #fff; padding: 20px; border-radius: 10px; text-align: center; }
.overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #000; opacity: 0.8; z-index: 99; display: none; }
.hide-block { display: none; }
.close { position: absolute; cursor: pointer; }
.close_st_1 { margin-left: 250px; margin-top: -10px; }
.close_st_2 { margin-left: 294px; }
.close_st_3 { margin-left: 270px; margin-top: -15px; }
.conf_text { background: #fff; padding: 20px; }
.modal-success h3 { font-weight: 700; font-size: 18px; }
.sucsecc_desc { font-size: 14px; border-top: 1px solid #D8D8D8; margin-top: 10px; padding-top: 10px; }
.phone_arr { -webkit-transform: rotate(-5deg); -moz-animation: animaciya 1s ease-in-out 2s infinite alternate; -webkit-animation: animaciya 1s ease-in-out 2s infinite alternate; -ms-animation: animaciya 1s ease-in-out 2s infinite alternate; }
@-moz-keyframes animaciya {
	from { -webkit-transform: rotate(-25deg); -o-transform: rotate(-25deg); -moz-transform: rotate(-25deg); -ms-transform: rotate(-25deg); transform: rotate(-25deg); }
	to { -webkit-transform: rotate(15deg); -o-transform: rotate(15deg); -moz-transform: rotate(15deg); -ms-transform: rotate(15deg); transform: rotate(15deg); }
}
@-webkit-keyframes animaciya {
	from { -webkit-transform: rotate(-25deg); -o-transform: rotate(-25deg); -moz-transform: rotate(-25deg); -ms-transform: rotate(-25deg); transform: rotate(-25deg); }
	to { -webkit-transform: rotate(15deg); -o-transform: rotate(15deg); -moz-transform: rotate(15deg); -ms-transform: rotate(15deg); transform: rotate(15deg); }
}
@-ms-keyframes animaciya {
	from { -webkit-transform: rotate(-25deg); -o-transform: rotate(-25deg); -moz-transform: rotate(-25deg); -ms-transform: rotate(-25deg); transform: rotate(-25deg); }
	to { -webkit-transform: rotate(15deg); -o-transform: rotate(15deg); -moz-transform: rotate(15deg); -ms-transform: rotate(15deg); transform: rotate(15deg); }
}

.adres-top{ background: url(../img/pic.png) no-repeat 0 7px;font-weight: bold; color:#60cee7;font-size: 13px;}
.tel-top {background: url(../img/tel.png) no-repeat 0 7px; }
.tel-top a{font-weight: bold;color:#ffff22;font-size: 13px;  text-decoration: none !important;}
.emeil-top {font-size: 14px;}
.top-block2{
	color: #fff;
	padding: 0px 0px;
	}
	.top-block2 > ul {
	float: left;
}

.top-block2> ul > li {
	display: inline-block;
     padding: 8px 5px 5px 29px;

}

.hot_tours {
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
}
.hot_tours> .row {
    margin: 0 auto;
}
.card {
    margin-top: 25px;
}
.reviews {
    max-width: 960px;
    margin: 0 auto;
}
.leddform_heading {
    color: white;
}
.leddform_desc {
    color: white;
}
.leddform_heading2> p {
    color: white;
}
.leddform_desc2> p {
    color: white;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
.leedform_head {
    padding-left: 0px;
    padding-right: 0px;
}
.eggs_wrap { 
    padding-bottom: 40px; 
    max-width: 960px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.imput_date {
    width: 220px;
    height: 40px;
}
.partners_img {
    height: 40px;
}
.why_list {
    padding-bottom: 40px;
}
.selectionTour {
    padding-top: 40px;
    padding-bottom: 40px;
}
.our_partners_heading {
    padding-bottom: 60px;
}
@media all and (max-width:767px) {
    .navbar-custom {
        background-color: #0061ec;
    }
    .navbar-nav {
        text-align: center;
    }
    .address {
        color: #60cee7;
    }
    .tel {
        color: #ffff22;
    }
    .nav-img {
        padding-right: 5px;
    }
    .arrow-aim { 
        display: none;
     }
    .phone_arr { 
        display: none;
     }
    .jumbotron {
        height: 400px;
    }
     .heading_block {
        padding: 0px;
     } 
     .bold { 
        font-weight: 700; 
    }
    .desc_heading { 
        font-size: 15px; 
        padding-top: 60px;
        color: white;
    }
    .heading_top1 {
        color: white;
        font-size: 30px;
    }
    .heading_top2 {   
        color: white;
        font-size: 20px;
        text-transform: uppercase; 
        margin-top: 60px;
    }
     .form_style2 {
       display: none;
     }
     .form_style2 {
         margin-left: auto;
         margin-right: auto;
     }
     .number_egg {
        font-size: 40px;
     }
     .card {
         border: 0px;
     }
     .hotTourCard {
        padding: 5px; 
        border: 1px solid #B5B5B5;
     }
     .maps {
        padding: 0px;
    }
    .number_egg { font-size: 40px; color: #4272b3; font-weight: 700; padding-top: 20px; margin-bottom: -5px; }
    .desc_egg {
        font-size: 14px;
        font-weight: bold;
        margin: auto;
    } 
    .why_punkt> p {
        font-size: 15px;
    }
    .jumbotron {
        background-image: url("../img/partners/1.jpg");
        background-size: cover;
    }
    .blue_pattern2 {
        background-image: url("../img/partners/2.jpg");
        background-size: cover;
    }
    .form_style3 { 
        padding: 20px; 
        text-align: center; 
        background: rgba(255, 255, 255, 0.8); 
        border-radius: 4px; 
        border: 4px solid #ffb100; 
    }
    .leddform_heading2 { 
        font-size: 30px; 
        font-weight: 700; 
        text-align: center; 
    }
    .leddform_desc2 { font-size: 20px;
        font-weight: normal;
        padding-top: 10px;
        padding-bottom: 20px;
        text-align: center; 
    }
    .leddform_desc { font-size: 20px;
        font-weight: normal;
        padding-top: 10px;
        padding-bottom: 20px;
        text-align: center; 
    }
    .leedform { 
        padding-top: 50px;
        padding-bottom: 50px;  
    }
    .contacts_head {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .leedform_head {
        padding-top: 30px;
    }
}

@media screen and (min-device-width: 767px) and (max-device-width: 1920px) { 
    .jumbotron {
        background-image: url("../img/1697.jpg");
        background-size: cover;
    }
    .leedform { 
        padding-top: 50px;
        padding-bottom: 50px;  
    }
    .leddform_heading2 { 
        font-size: 40px; 
        font-weight: 700; 
        text-align: center; 
        background: #0541bb;
        border-radius: 14px;
    }
    .leddform_desc2 { font-size: 17px;
        font-weight: normal;
        padding-top: 20px;
        text-align: center; 
    }
    .blue_pattern2 {
        background-image: url("../img/blue_bg2.jpg");
        background-size: cover;
    }
    .bold { 
        font-weight: 700; 
    }
    .form_style3 { 
        width: 300px; 
        padding: 20px; 
        text-align: center; 
        background: rgba(255, 255, 255, 0.8); 
        border-radius: 4px; 
        border: 4px solid #ffb100; 
    }
    .heading_top10 {
        position: relative;
        z-index: 1;
        top: -40px;
    }
    .desc_heading { 
        font-size: 35px; 
        padding-top: 20px;
        color: white;
    }
    .heading_top1 {
        color: white;
        font-size: 50px;
    }
    .heading_top2 {   
        color: white;
        font-size: 30px;
        text-transform: uppercase; }
    .navbar-custom {
        background-color: #0061ec;
    }
    .nav-link {
        color: #FFFFFF;
    }
    .nav-img {
        padding-right: 5px;
    }
    .nav-item {
        padding-left: 20px;
    }
    .navbar-brand {
        display: none;
    }
    .tel {
        color: #ffff22;
    }
    .address {
        color: #60cee7;
    }
    .phone_arr {
        padding-top: 30px;
    }
    .form_style2 { 
        width: 350px; 
        padding: 45px 0 60px 0; 
        text-align: center; 
        background: rgba(0, 0, 0, 0) url("../img/form2.png") no-repeat scroll center 0; 
        border-radius: 4px; 
        border: 0px solid #ffb100; 
    }
    
    .eggs { overflow: inherit; }
    .heading_block { font-weight: 700; font-size: 36px;
        padding-bottom: 50px;    
    }
    .egg { width: 220px; float: left; text-align: center; background: url(../img/egg_cicle.png) no-repeat; height: 220px; margin: 10px; overflow: hidden; border-radius: 190px; }
    .number_egg { font-size: 60px; color: #4272b3; font-weight: 700; padding-top: 40px; margin-bottom: -5px; }
    .desc_egg {
        font-size: 14px;
        font-weight: bold;
        margin: auto;
        width: 150px;
    } 
    .card {
        border: 0px;
    }
    .hotTourCard {
        padding: 5px; 
        border: 1px solid #B5B5B5;
     }
    .col-6 {
        padding: 5px;
    }
    .contacts {
        padding-top: 130px;
    }
    .comp_name_cont> p, .comp_adr_cont> p, .comp_phone_cont> p {
        font-size: 20px;
    }
    .leddform_heading {
        font-size: 40px;
    }
    .whyr {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .why_punkt> p {
        padding-left: 15px;
    }
    .contacts_head {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

a {
    line-height: 1;
    display: inline-block;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

a:after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: white;
    transition: width .3s ease-in-out;
}

a:hover:after,
a:focus:after {
    width: 100%;
    color: #D1C131;
}